body {
font-family: "Roboto", Arial, Helvetica, sans-serif;
font-size: 18px;
margin: 0;  /* get rid of margin, so all content is fullscreen */
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
}

.secondary-text {
    color: #E5E7EB;
    text-decoration: none;
}

.header-logo {
    font-size: 24px; 
    color: #F9FAF8;
    display: flex;
}

button {
    all: unset;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: #3882F6 solid 2px;
}

button:hover {
    border: #F9FAF8 solid 2px;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 70px;
}


.header-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    width: 80vw;
    gap: 50px;
    margin-bottom: 70px;
}

 .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
} 

.hero-img {
    display: flex;
    width: 300px;
    background-color: #405572;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}